@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
